absl-py==2.1.0
av 
certifi 
charset-normalizer==3.4.7
cycler==0.11.0
easydict==1.13
einops==0.6.1
ffmpeg-python==0.2.0
fonttools==4.38.0
future 
fvcore==0.1.5.post20221221
idna==3.10
importlib-metadata==6.7.0
iopath==0.1.10
kiwisolver==1.4.5
matplotlib==3.5.3
networkx==2.6.3
numpy 
opencv-python==4.13.0.92
packaging==24.0s
parameterized==0.9.0
Pillow==9.4.0
portalocker==2.7.0
ptflops==0.7.3
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytorchvideo==0.1.5
pytz==2026.2
PyYAML==6.0.1
requests==2.31.0
scipy==1.7.3
six==1.17.0
tabulate==0.9.0
termcolor==2.3.0
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.67.3
typing_extensions==4.7.1
urllib3==2.0.7
yacs==0.1.8
zipp==3.15.0
